<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
    <meta charset="UTF-8">
    <title>1RM Calculator</title>
</head>
<body>
<div th:replace="fragments :: navbar"></div>


<h1>Calculate your estimated one rep max</h1>
    <p>Click the button to calculate</p>
    <button class="btn btn-success align-content-center" onclick="calculate()">Calculate</button>

<p id="oneRepMax"></p>

<script>
    function calculate() {
        let weight = prompt("Weight lifted (kg):");
        let reps = prompt("Number of reps:");
        let oneRepMax = weight * (36 / (37 - reps));
        if (weight == null || reps == null) {
            alert("Please enter a valid weight and reps.");
        } else {
            document.getElementById("oneRepMax").innerHTML = "Your estimated 1RM is: " + oneRepMax.toFixed(0) + "kg.";
        }
    }
</script>

</body>
</html>