<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Your workouts</title>
</head>
<body>
<div th:replace="fragments :: navbar"></div>

<h1>Your past workouts</h1>

<table class="table table-hover">
    <tr>
        <th>Date</th>
        <th>Workout name</th>
        <th>Exercises</th>
        <th>Sets/Reps</th>
        <th>Weight (kg)</th>
        <th>Delete workout</th>
    </tr>
    <tr th:each="workout : ${workouts}">
        <td th:text="${workout.date}"></td>
        <td th:text="${workout.name}"></td>
        <td>
            <ul>
                <li th:each="exercise : ${workout.exercises}"
                    th:text="${exercise.name}">
                </li>
            </ul>
        </td>

        <td>
            <ul>
                <li th:each="exercise : ${workout.exercises}"
                    th:text="${exercise.setsreps}">
                </li>
            </ul>
        </td>

        <td>
            <ul>
                <li th:each="exercise : ${workout.exercises}"
                    th:text="${exercise.weight}">
                </li>
            </ul>
        </td>
    <td> <a class="btn btn-danger" th:href="@{/delete/{id}(id=${workout.id})}">Delete</a></td>








</table>
</body>
</html>